@using Microsoft.AspNet.Identity
@using EuCorro.MVC.Site.Aolication.Services

@{ 
    var usuario = new AutenticacaoVendas().ObterAutenticado();
}

@if (@usuario != null)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "Vendas" }, FormMethod.Post, new { @id = "logoutForm", @class = "nav navbar-nav navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="pull-right form-control">
            @Html.ActionLink("Bem Vindo, " + User.Identity.GetUserName() + " | ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Gerenciar Meus Dados" })
            <a href="javascript:document.getElementById('logoutForm').submit()" title="Fazer Log Off"> Sair</a>
        </div>
    }
}