/* 
		Flex Slider css 
		**** ****** ***
*/ 
.carousel{
	margin-bottom:40px;
}

.carousel-inner img{
	width:100%;
}
.carousel-caption{
	top:20%;
}
.carousel-control .fa .fa-chevron-left{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}

.carousel-text h1 {
	margin: 0 0 0px 0;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
	/*	text-transform: uppercase; */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	line-height: 1.4em;
	background:rgba(0,0,0,0.6);
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-ms-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}

.carousel-text .enigma_blog_read_btn{
	font-size: 20px;
	color:#fff;
	display:inline-block;
	transition: all 0.4s ease 0s;
	padding:5px 10px 5px 10px ;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
	margin-bottom:20px;
	border-radius:2px;
	text-shadow:none;
}

.carousel-list li {
	color: #fff;
	font-size: 17px;
	margin-bottom: 10px;
	overflow: hidden;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	padding:10px;
	padding-left: 10px;
	padding-right: 10px;
	line-height:23px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
	background: #9b1ba6 !important;

}
.carousel-list li:nth-child(1) {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-ms-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}
.carousel-list li:nth-child(2) {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-ms-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

.carousel-list li:nth-child(3) {
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	-ms-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}

.enigma_slider_shadow{
	background: url('./images/shadow1.png') no-repeat top center;
	position: absolute;
	left: 0;
	right: 0;
	height: 80px;
	z-index: 99;
	width:100%;
	background-size: 100% 100%;
	height: 60px;
	bottom: -60px;
}


/* Carousel for Recent posts */

.recent-posts{
	padding: 0px;
}

.recent-posts .carousel .carousel-inner{
	padding: 0px;
	background:transparent;
}

.recent-posts .carousel .c-control{
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 100;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	text-align: center;
	background: #9b1ba6;
	border: 0;
	color: #fff;
	border-radius:3px;
}

.recent-posts .carousel .c-control.left{
	right: 30px;
}

.recent-posts .carousel .c-control.right{
	right: 0px;
}

/* Slider items */

.recent-posts .s-item {	
	max-width:250px;
	background: #fff;
	margin:0 auto;
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	border: 1px solid #eee;
	border-right:3px solid #eee;
	border-bottom:3px solid #eee;
	border-radius: 6 px;
}

.recent-posts .s-item img{
	max-height:150px;
	margin:10px auto;
}

.recent-posts .s-item .s-caption{
	margin-top: 0px;
	padding: 5px;
}

.recent-posts .s-item .s-caption h4{
	font-size: 16px;
	line-height: 26px;
	color: #858585;
	margin:5px 0px;
	padding:0px;
	font-family:"Open Sans", sans-serif;
	font-weight:bold;
}

.recent-posts .s-item .s-caption h4 a{
	color:#858585;
	text-decoration:none !important;
	border-bottom:0px;
}

.recent-posts .s-item .s-caption p{
	font-size: 13px;
	line-height: 20px;
	color: #9e9e9e;
}

